body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #752305;
}

header {
  width: 768px;
  height: 110px;
  background-color: #fef7e2;
  padding: 0;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.8em;
}

header nav h2 {
  background-color: #ffdf7f;
  padding: 0.5em;
  border-radius: 40px;
  font-size: 1.2em;
  font-weight: 500;
}

header nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7em 1em 0.7em 0.6em;
  background-color: #ffdf7f;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.5em;
}

article {
  display: flex;
  background-color: bisque;
  overflow: hidden;
  width: 350px;
  height: 350px;
  border-radius: 50px;
  margin: 1em;
}

article.conteiner {
  display: flex;
  margin: 0;
  padding: 0;
}

.scritta {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main article div div h3,
p {
  margin: 0;
}

article div button {
  margin-left: 80px;
  margin-top: 0.5em;
  padding: 0.5em 4em;
  background-color: #ffdf7f;
  border-radius: 30px;
  border: none;
  font-weight: bold;
}

main h1 {
  color: #752305;
  font-weight: 900;
}

main div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em;
  margin: -1em;
}

main section h3 {
  font-size: x-large;
  font-weight: 900;
  margin-bottom: 0.6rem;
  text-align: center;
}

main section div h4 {
  font-weight: 800;
  margin: 0;
}

section {
  width: 750px;
  height: 900px;
}

.conteiner {
  background-color: #fef7e2;
  border-radius: 15px;
}

main section div {
  display: flex;
  flex-direction: column-reverse;
  align-items: self-start;
  padding: 1em;
}

main section div div {
  display: flex;
  padding: 0 1em;
  flex-direction: column;
  justify-content: start;
}
